<a href="https://colab.research.google.com/github/vic-k23/laboratory/blob/Python_for_DS/Kozlov_lesson1_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd
from sklearn.metrics import f1_score

In [79]:
size = 9999
np.random.seed(42)
expectancy = np.random.rand(size).reshape(size, 1)
target_class = np.random.randint(0, 2, size).reshape(size, 1)

In [80]:
df = pd.DataFrame(np.hstack((expectancy, target_class)),columns=['expectancy', 'class'])
df

      expectancy  class
0       0.374540    1.0
1       0.950714    0.0
2       0.731994    0.0
3       0.598658    1.0
4       0.156019    1.0
...          ...    ...
9994    0.124614    0.0
9995    0.857656    1.0
9996    0.897509    1.0
9997    0.946708    1.0
9998    0.397488    1.0

[9999 rows x 2 columns]

In [81]:
df_true = df.copy()
df_true.loc[((df_true['expectancy'] < 0.5) & (df_true['class'] == 1.0)), 'class'] = 0.0
df_true.loc[((df_true['expectancy'] >= 0.5) & (df_true['class'] == 0.0)), 'class'] = 1.0
df_true

      expectancy  class
0       0.374540    0.0
1       0.950714    1.0
2       0.731994    1.0
3       0.598658    1.0
4       0.156019    0.0
...          ...    ...
9994    0.124614    0.0
9995    0.857656    1.0
9996    0.897509    1.0
9997    0.946708    1.0
9998    0.397488    0.0

[9999 rows x 2 columns]

In [82]:
TP = df.loc[((df['expectancy'] >= 0.5) & (df['class'] == 1.0)), 'class'].count()
TN = df.loc[((df['expectancy'] < 0.5) & (df['class'] == 0.0)), 'class'].count()
FP = df.loc[((df['expectancy'] < 0.5) & (df['class'] == 1.0)), 'class'].count()
FN = df.loc[((df['expectancy'] >= 0.5) & (df['class'] == 0.0)), 'class'].count()
print(TP, FP)
print(FN, TN)

2480 2556
2444 2519

In [83]:
precision = TP / (TP + FP)
recall = TP / (TP + FN)
print(f"precision = {precision}, recall = {recall}")

precision = 0.4924543288324067, recall = 0.503655564581641

In [84]:
mean_pr = (precision + recall) / 2
mean_pr

0.4980549467070238

In [85]:
f1 = f1_score(df_true['class'], df['class'])
f1

0.497991967871486